@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300&family=Poppins:wght@600&display=swap");

body {

    font-family: Figtree, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

header {

    /*  display: inline; */
    font-size: 100%;
}

h1,
h2 {

    font-family: Poppins, sans-serif;
    text-transform: lowercase;
    font-weight: 600;
    letter-spacing: 0.10px;
    color: #69c0c7;
}

#logo_image {

    width: 40px;
    height: 40px;
}

#logo_block {

    float: left;
    border-bottom: none;
    text-decoration: none;
    display: inline;
}

#logo_menu {

    line-height: 75px;
    display: inline;
    height: 90px;
}

#logo_menu>a {
    display: inline;
}

#menu {

    float: right;
}

#logo_block a {
    text-decoration: none;
    color: inherit;
}

#logo #menu {

    line-height: 75px;
}

#dot {

    color: #e01c3f;
}

#menu li {

    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {

    border-bottom: 1px solid #e01c3f;
}

.standard_section {

    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.active {

    border-bottom: solid 1px #e01c3f;
}

#hero_image {

    background-color: green;
}

#consumer_reason {

    background-color: blueviolet;
}

#consumer_summary {

    background-color: blue;
}

#invester_reason {

    background-color: yellow;
}

#invester_summary {

    background-color: red;
}

footer {
    height: 150px;
    margin: 0 auto;
}

.social_networks {

    text-align: center;
}

.social_networks>li {

    display: inline;
    padding: 20px;
    height: 100px;
    width: 100px;
}